* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    overflow-y: auto;
}

.page {
    --nav-height: 65px;
    padding-top: var(--nav-height);
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #032550;
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 1rem; 
}

.site-title{
    background-color: #186D8F;
    /* padding: 1rem; */
    font-family: Inter;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem; 
    display: flex;
    align-items: center;
}

.nav .left-region, .nav .right-region {
    display: flex;
    align-items: center;
}

.nav a:hover, .nav li.active > a {
    background-color: #1A5276; 
    color: #ffffff;
}

.nav li {
    transition: transform 0.2s ease-in-out;
}

.nav li:hover {
    transform: scale(1.05); 
}
