* {
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100%;
    overflow-y: hidden; 
    /* Enable vertical scrolling if content overflows */
}
.page {
    --nav-height: 75px;
    padding-top: var(--nav-height); /* ADJUST BASED ON NAVBAR SIZE */
}






.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar stays on top of other elements */

    background-color: #032550;
    color:white;
    display: flex;
    justify-content: left;
    align-items: stretch;
    gap: 1rem;
    padding: 0rem;

}

.site-title{
    background-color: #186D8F;
    padding: 1rem;
    font-family: Inter;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

h1 {
    /* font-weight: 900; */
    font-size: 2rem;
    font-family: Inter;
    color: #535353;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none; 
    display: flex;
    /* gap: 1rem; */

}

.nav a{
    color: inherit;
    text-decoration: none; 
    height: 100%;
    display: flex;
    align-items: center;
    padding:1.25rem 1.25rem; 
}

.nav a[href="/Friends"], .nav a[href="/Workout"], .nav a[href="/Profile"]{
    font-size: 1.5rem;
    font-family: Inter;
    /* font-style: italic; */
    /* font-weight: 400; */
    line-height: normal;
    color: #E6E6E6;
}

.nav .normal {
    width: 50%;
    transition: transform 0.2s ease-in-out;
}

.nav li.active {
    font-weight: 700;
    color: #ffffff;
    /* background-color: #186D8F; */
} 

.nav .normal:hover{
    transform: scale(1.04); /* Adjust the scale factor as needed */
    /* background-color:  #4d4d4d; */
}

.profile-link {
    position: absolute;
    right: 20px;
    transition: transform 0.2s ease-in-out;
}
.profile-link:hover{
    transform: scale(1.04); /* Adjust the scale factor as needed */
    /* background-color:  #4d4d4d; */
}

