* {
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100%;
    overflow-y: hidden; 
    /* Enable vertical scrolling if content overflows */
}
.page {
    --nav-height: 75px;
    padding-top: var(--nav-height); /* ADJUST BASED ON NAVBAR SIZE */
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar stays on top of other elements */

    background-color: #032550;
    color:white;
    display: flex;
    justify-content: left;
    align-items: stretch;
    gap: 1rem;
    padding: 0rem;

}

.site-title {
    position: relative;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    z-index: 1;
}

.site-title::before {
    content: "";
    position: absolute;
    top: -10px; /* Adjust to hide the dark blue area */
    left: -20px; /* Adjust to hide the dark blue area */
    width: calc(100% + 20px); /* Adjust width to cover the entire skewed area */
    height: calc(100% + 10px); /* Adjust height to cover the entire skewed area */
    background-color: #186D8F;
    z-index: -1;
    transform: skewX(-20deg); /* Adjust the degree of skewing as needed */
}


h1 {
    /* font-weight: 900; */
    font-size: 2rem;
    font-family: Inter, Tahoma, sans-serif;
    color: #535353;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none; 
    display: flex;
    /* gap: 1rem; */

}

.nav a{
    color: inherit;
    text-decoration: none; 
    height: 100%;
    display: flex;
    align-items: center;
    padding:1.25rem 1.25rem; 
}

.nav a[href="/Friends"], .nav a[href="/Workout"], .nav a[href="/Profile"]{
    font-size: 1.5rem;
    font-family: Inter, Tahoma, sans-serif;
    /* font-style: italic; */
    /* font-weight: 400; */
    line-height: normal;
    color: #E6E6E6;
}

.nav .normal {
    width: 50%;
    transition: transform 0.2s ease-in-out;
}

.nav li.active {
    font-weight: 700;
    color: #ffffff;
    /* background-color: #186D8F; */
} 

.nav .normal:hover{
    transform: scale(1.04); /* Adjust the scale factor as needed */
    /* background-color:  #4d4d4d; */
}

.profile-link {
    position: absolute;
    right: 20px;
    transition: transform 0.2s ease-in-out;
    color: #E6E6E6;
}
.profile-link:hover{
    transform: scale(1.025); /* Adjust the scale factor as needed */
    /* background-color:  #4d4d4d; */
}
.profile-name{
    color: #E6E6E6;
}
.active-name{
    font-weight: 200;
}


