/* Base Styles for Text and Fonts */
* {
font-family: Inter, serif;
color: #525252; /* Default text color */
}



/* Adjusting Dropdown Styles */
select {
  background-color: white; /* Sets the dropdown background to white */
  border: 1px solid #ccc; /* Optional: sets a light grey border */
  color: #525252; /* Sets the text color to match other inputs */
  padding: 5px; /* Adds some padding inside the dropdown for better text visibility */
  border-radius: 5px; /* Optional: rounds the corners of the dropdown */
  font-family: Inter, serif; /* Ensures font consistency */
  font-size: 16px; /* Adjusts the font size for better readability */
}

/* Further style adjustments for option hover */
select:hover {
  background-color: #f9f9f9; /* Light grey background on hover for better user interaction */
}

/* Style adjustments for option focus */
select:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #669CB2; /* Adds a border color to match the theme when focused */
}


/* Workout Plan Exercise Components */
.exercise-box {
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 10px;
width: 100%;
background-color: #669CB2;
margin: 0 auto 10px;
overflow-x: auto;
}


.exercise-title, .edit-exercise-weight, .weight-state {
display: flex;
margin-right: auto; /* Specifically for exercise-title */
font-weight: 800; /* Specifically for edit-exercise-weight and weight-state */
font-size: 25px; /* Default for exercise-title */
}

.edit-exercise-weight, .weight-state {
font-size: 40px; /* Override for these classes */
margin-right: 10px; /* Specifically for edit-exercise-weight */
}

.content {
border-radius: 10px;
display: flex;
flex-direction: row;
white-space: nowrap;
padding: 10px 20px;
background-color: rgb(255, 255, 255);
}

.edit-sets-reps, .sets-reps-container {
display: grid;
font-size: 20px;
color: #7E7E7E;
}

.edit-sets-reps {
grid-template-columns: auto auto;
gap: 0;
padding: 0;
text-align: center;
}

.sets-reps-container {
margin-left: auto;
}

.reps-input, .sets-input, .input-label-sets, .input-label-reps {
grid-row: auto; /* Automatically place in the next available row */
grid-column: auto; /* Automatically place in the next available column */
}

.reps-input, .sets-input, select {
width: 40px;
margin-bottom: 1px;
}

.weight-input, .weight-state {
width: 110px;
min-width: 50px;
font-size: 40px; /* Override for weight-state */
}

.buttons {
display: flex;
justify-content: space-around;
width: 80%;
}

.circle-button {
border: 3px solid #2f2f2f;
border-radius: 30%;
width: 30px;
height: 30px;
margin-left: 5px;
background-color: white;
}

.circle-button.checked {
background-color: #2f2f2f;
}

.timer {
background-color: #042550;
position: absolute;
right: 20px;
bottom: 20px;
display: flex;
width: 300px;
height: 100px;
border-radius: 20px;
padding: 20px;

flex-direction: row;
}
.time-display{
background-color: white;
border-radius: 15px;
width: 70%;
font-family: Inter, serif;
font-size: 40px;
text-align: center;
color: #525252;
}
.controls {
margin-left: 10px;
display: grid;
grid-template-columns: repeat(2, 1fr); /* Two columns */
grid-gap: 10%; /* Adjust the gap between buttons */
width: 25%;

font-family: Inter, serif;
color: #525252;
}
.btn {
background-color: #F0F0F0;
text-align: center;
border-radius: 10px;
font-weight: bold;
}
.start-btn{
grid-column-end: span 2; 
}

