
/***** WORKOUT PLAN EXERCISE COMPOENENTS ***************/

.exercise-box {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Horizontally spread out content */
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  background-color: #669CB2;
  margin-bottom: 10px;
  
  overflow-x: auto;
}

.exercise-title {
  display: flex;
  margin-right: auto;
  font-size: 25px;
  margin-bottom: 3px;
}

.content {
  border-radius: 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
  white-space: nowrap; 

  padding: 10px 20px 10px 20px ;
  background-color: rgb(255, 255, 255);
}
.exercise-weight{
  font-size: 30px;
  margin-right: 10px;
  /* flex: 0; */
}

.weight-selector {
  display: flex;
  flex: 0;
  width: 100px;
}
.buttons {
  display: flex;
  justify-content: space-around; /* Evenly distribute buttons */
  width: 80%; /*Ensure buttons fill the entire width*/
}
.circle-button {
  border: 3px solid #2f2f2f;
  border-radius: 30%;
  width: 30px;
  height: 30px;
  margin-left: 5px; /* Add some spacing between buttons */
  background-color: white;
}


.circle-button.checked {
  background-color: #2f2f2f;
}